{% extends '_base.html' %}
{% block content %}
<div class="col-md-8">
<h2>{{ single_post.title }}</h2>
<ul>
    <p>
        {% if single_post.image %}
            <img class="img-rounded" src="/media/{{ single_post.image }}" width="304" height="236">
        {% endif %}
    </p>
    <p><em>{{ single_post.created_at }}</em></p>
    <p>{{ single_post.content }}</p>
    <p>Tag: {{ single_post.tag }}</p>
    <p>Views: {{ single_post.views }}</p>
    <p>Had enough? Return <a href="/blog">home</a>.</p>
    <br>
</ul>
</div>
<div class="col-md-4">
<h4>Must See:</h4>
<ul>
    {% for popular_post in popular_posts %}
        <li><a href="/blog/{{ popular_post.url }}">
            {{ popular_post.title }}
        </a></li>
    {% endfor %}
</ul>
</div>
{% endblock %}
